
<app-header-title></app-header-title>
<div class="container-articles">
    <div class="articles_main">
        <app-big-card
        id="1" 
        photo="../assets/img/noticiaPrincipal.webp"
        cardTitle="Caramelo decide dar um passseio"
        cardDescription="Caramelo cansado de ser enganado e não ser levado para passear decide pegar o primeiro busão e andar sem direção pelo mundo"></app-big-card>
    </div>
    <div class="articles_others">
        <app-small-card
        id="2"
        photoCard="../assets/img/card1.jpg"
        titleDescription="Feira de adoção de cães já tem previsão de inicio"></app-small-card>

        <app-small-card
        id="3" 
        photoCard="../assets/img/card2.jpg"
        titleDescription="Oficial o Caramelo tem seu valor"
        ></app-small-card>

        <app-small-card
        id="4"
        photoCard="../assets/img/card3.jpg"
        titleDescription="Fred acaba com o jogo"></app-small-card>
    </div>
</div>
